<% provide(:title,'用户注册') %>
<p><%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>
<%= f.label :name ,"用户名："%>
<%= f.text_field :name %></p><p>
<%= f.label :email , "邮件：："%>
<%= f.text_field :email %></p><p>
<%= f.label :password, "密码：："%>
<%= f.password_field :password %></p><p>
<%= f.label :password_confirmation, "密码确认" %>
<%= f.password_field :password_confirmation %></p><p>
<%= f.submit "创建用户" %></p><p>
      <%= link_to "已注册？点此登录！", signin_path %>
<% end %>