<% if @user.errors.any? %>
        您填写的表单有 <%= pluralize(@user.errors.count, "处错误") %>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
        <% end %>
      </ul>
<% end %>
