<%= form.fields_for :tags do |tag_form| %>
    <div class = "field" >
      <%= tag_form.label :name, '标签:' %>
      <%= tag_form.text_field :name %>
    </div >
    <% unless tag_form.object.nil? || tag_form.object.new_record? %>
        <div class = "field" >
          <%= tag_form.label :_destroy, 'Remove:' %>
          <%= tag_form.check_box :_destroy %>
        </div >
    <% end %>
<% end %>