<%= form_for(@post) do |post_form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <%= @post.tags.build %>
  <div class="field">
    <%= post_form.label :name %><br>
    <%= post_form.text_field :name %>
  </div>
  <div class="field">
    <%= post_form.label :title %><br>
    <%= post_form.text_field :title %>
  </div>
  <div class="field">
    <%= post_form.label :content %><br>
    <%= post_form.text_area :content %>
  </div>
    <h2>Tags</h2>
    <%= render :partial => 'tags/form', :locals => {:form => post_form} %>
    <div class="actions">
    <%= post_form.submit %>
  </div>
<% end %>
