<p id="notice"><%= notice %></p>

<p>
  <h1><%= @post.title %></h1>
</p>

<p>
  作者：<%= @post.name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  创建时间：<%= @post.created_at.to_s.delete "UTC" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  最后修改时间：<%= @post.updated_at.to_s.delete "UTC" %>
</p>


<p> <strong>内容：</strong> <%= @post.content %> </p>

<p> <b>标签 :</b> <%= join_tags(@post) %> </p>

<p style="font-size: 20px">\\\\评论列表\\\\</p>

<%= render @post.comments %>

<h2>发表评论: </h2>

<%= render "comments/form" %>

<%= link_to 'Edit Post' , edit_post_path(@post) %> | <%= link_to 'Back to Posts' , posts_path %>
