<div style="padding-right:10px;width: 1024px;height:30px;text-align:right;margin: 0 auto;background-color: #BBBBBB;line-height: 30px;">

    <%= link_to '首页', root_path %>&nbsp;&nbsp;

          <%= link_to '我的中心', '#' %>&nbsp;&nbsp;
          <%= link_to '退出登录', signout_path,method: 'delete' %>&nbsp;&nbsp;

          <%= link_to '登录', signin_path %>&nbsp;&nbsp;
          <%= link_to '注册', signup_path %>


</div>