<!DOCTYPE html>
<html>
<head>
<title> Blog </title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tag %>
</head>
<body style = " background: #EEEEEE; margin:0 auto;" >
<%= render 'layouts/header' %>
<div style="width:1024px;margin:0 auto;">
  <% flash.each do |key, value| %>
  <%= value %> <% end %>

  <%= yield %>

  <div style="border: 1px solid #999999;background-color: #BBBBBB;width:500px;margin:20px 0 50px 0px;float:right">
  <%= debug(params) if Rails.env.development? %>
  </div>

</div>

</body>
</html>
